/* Global Styles */
body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Centrage global */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 60px);
  text-align: left;
  padding: 20px;
  background-color: #fff;
}

.dashboard-container h1 {
  margin-bottom: 20px;
}



.dashboard-container button:hover {
  background-color: #0056b3;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar:hover{
  background-color: rgb(255, 255, 255, 1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
  text-decoration: none;
}

.navbar .link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.navbar .link:hover::after{
  width: 100%;
}

.action-bubble {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  width: 200px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background: #f0f0f0;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: color 0.3s;
}

.menu ul li.active a {
  font-weight: bold;
}

.menu ul li a:hover {
  color: #007bff;
}

.profile-image{
  width: 50%;
  height: 50%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

/* Buttons */
.btn {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 35%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-save {
  background-color: #d63384;
  color: #fff;
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.edit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button:hover {
  background-color: #0b4f1a;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Table Styles */
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin: 20px 0;
}

/* Bouton d'ajout */
.add-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-button:hover {
  background-color: #0056b3;
}



.client-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.client-table th, .client-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.client-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.user-profile th,
.user-profile td {
  padding: 12px 15px;
  text-align: center;
}

.user-profile th {
  background-color: #f5f0f0;
  font-weight: bold;
  color: #333;
}

.user-profile tr:nth-child(even) {
  background-color: #fffefe;
}

.user-profile tr:hover {
  background-color: #e6d1d1;
}



/* Form Containers */
.client-container, .profile-container, .forgot-password, .login-container, .register {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  margin: auto;
  max-width: 600px;
  text-align: start;
}

/* Headings */
h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Form Styling */
form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

/* Responsive Styles */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

.menu {
  transition: transform 0.3s ease;
}

.menu.active {
  transform: translateX(0);
}
.welcom{
  font-size: 20px;        /* Adjust font size as needed */
  margin: 0;              /* Remove default margin */
  padding-right: 10px;    /* Space between text and button */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Couleur d'arrière-plan avec opacité */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px; /* Ajout de padding plus uniforme */
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Effet d'ombre */
  width: 400px; /* Largeur fixe */
  max-width: 90%; /* S'adapte à l'écran */
  text-align: center; /* Centrer le texte */
}

.modal-content h3 {
  font-size: 1.5rem; /* Taille du titre */
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacement uniforme entre les champs */
}

.modal-content label {
  font-size: 1rem; /* Taille des labels */
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd; /* Bordure grise */
  border-radius: 8px; /* Coins arrondis */
  outline: none;
  transition: border 0.3s ease; /* Transition sur le focus */
}

.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #007BFF; /* Couleur de focus */
}

.modal-content textarea {
  resize: none; /* Désactive le redimensionnement */
  height: 100px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition sur le hover */
}

.modal-content button[type="submit"] {
  background-color: #007BFF; /* Couleur du bouton principal */
  color: #fff;
}

.modal-content button[type="submit"]:hover {
  background-color: #0056b3; /* Couleur sur hover */
}

.modal-content button[type="button"] {
  background-color: #f0f0f0; /* Couleur du bouton annuler */
  color: #333;
}

.modal-content button[type="button"]:hover {
  background-color: #ddd; /* Couleur sur hover */
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard {
      flex-direction: column;
  }

  .menu ul {
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu ul.active {
      display: flex;
  }

  .menu ul li {
      margin: 10px 0;
      text-align: center;
  }

  

  .profile-container {
      padding: 15px;
  }

  .btn {
      font-size: 12px;
      padding: 8px 10px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    transform: translateX(100%);
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .navbar .logo {
      font-size: 20px;
  }

  .btn {
      padding: 8px 15px;
      font-size: 0.9rem;
  }

  .client-table {
      font-size: 12px;
  }
}
